{% load static %}

{% include "home/header.html" %}

<div class="container" style="background-color: rgba(255,255,255,0.4); box-shadow: 0px 0 31px 0px rgb(0 0 0 / 10%); padding: 30px; padding-bottom: 100px; border-radius: 50px;">
<h2 class ="text-center"> Login</h2><br>

<div class = "col-md-6 offset-md-3"> 
	<form method ="POST">
		
    {% csrf_token %}

	  <div class="form-group">

	    <input type="text" class="form-control" placeholder="Enter Username" name = "username">

	  </div>
	  <div class="form-group">

	    <input type="password" class="form-control"  placeholder="Enter Password" name="password"> 
	  </div>
	 
    <div class="center">
	  <div style="padding-top: 40px;" >
			<button type="submit" class="btn btn-primary" style="">Login</button>
		  </div>
    </div>
	</form>
        <a class="nav-link" href="{% url 'register' %}">New? Register</a>
        <a class="nav-link" href="{% url 'change_password' %}">Forgot Password</a>
</div>

</div>

</body>