{% load static %}

{% include "home/header.html" %}


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">About</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">About</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h6 class="text-primary text-uppercase font-weight-bold">COMPANY OVERVIEW</h6>
                    <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1>
                    <p class="mb-4">
Karhariya shipping is amongst the renowned logistics service providers head office at New Delhi, India.  Karhariya shipping Always delivering cost-effective solutions Karhariya shipping is a brand which provides all logistics solution and delivers all logistics needs from shipping to Door to Door service.

We offer a broad portfolio of services including Air Freight Services, Railways Transportation Services, Roadways Cargo Services, Sea Cargo Services, air freight logistics, Customs Clearance Services, Port Handling Services, Warehousing Services, etc. Our expertise also includes providing a comprehensive and tailor-made solution to meet the relocation needs of corporate and residential clients.

We have been known for delivering reliable cargo handling services. Our company has been credited for providing Sea/Air Freight services, Freight Logistics services, and hassle-free services for clearance of both export and import consignments at customs channels through Inland Container Depot located at Tughlakabad, Patparganj, Indira Gandhi International Airport (New Delhi), Mumbai, Chennai, Kolkata, and Cochin. Leveraging on the extensive logistics and communications network, our team can create cost-effective solutions tailored to meet your needs. We have made a strong repute for impeccable freight logistics services in India, which is characterized by Timeliness, Flexibility, Swiftness, Safety and Reliability.

Today, our presence is conspicuous in both the domestic as well as the overseas markets. This can be primarily credited to our "Well Planned Services", "Defined Mode of Operation", "Resourceful Network", "Talented Workforce", and "Business Ethics". The combination of global reach and local knowledge is a key competitive-edge for Karhariya shipping .
                    </p>
                </div>
            </div>
        </div>

    </div>


    <!-- About End -->
    <div class="container-fluid bg-secondary">
<div class="container">
                <div class="row align-items-center">
<iframe src="https://giphy.com/embed/N0Pp6pLX8YpPpDJMQZ" width="480" height="284" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/HHLA-logistics-logistik-hhla-N0Pp6pLX8YpPpDJMQZ"></a></p>
    <h1>We aim to move containers whatever your needs!</h1>
                    <p>The dedicated team here at Karhariya shipping is as flexible as our customers’ needs. Transport is not only knowing how to deliver something from A to B but it is doing so while respecting the customer, the goods or product being transported and of course, the environment. In order to do this, specific knowledge is required and in this respect Karhariya shipping forward thinking approach comes to the fore.
 As Karhariya shipping is pan-Indian this enables us to track and monitor the progress of specific deliveries in real time.
</p>
</div>
    </div>
    </div>

    <!-- Features Start -->
    <div class="container-fluid my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="{% static 'img/feature.jpg' %}" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h6 class="text-primary text-uppercase font-weight-bold">OUR BUSINESS OBJECTIVES</h6>
                    <ul class="list-inline">
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To provide and efficient transportation solution to our customers.</h6>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To expand our current fleet to accommodate the growing need of the business.</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To provide a safe working environment for staff and associated business partners.</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To promote business success through the ethos of services, dedication and integrity.</h6></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class=" py-5 py-lg-0">
                    <h6 class="text-primary text-uppercase font-weight-bold pt-4">Our Mission Statement</h6>
                    <ul class="list-inline">
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To provide complete logistic solutions that are not only efficient but also reliable & affordable.</h6>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To gain confidence & trust of our valued clients by conducting business with complete honesty and integrity.</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To be an organization that is innovative, and a leader in identifying and adapting new techniques and technologies for our customers.</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To be an organization that retains highly qualified personnel, provides for their career development, and establishes programs that provide a high degree of personal and family economic security.</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To be an organization that provides its customers recommendations and solutions that are unbiased by potential economic gains from outside suppliers. </h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To keep ownership and control of our company in the hands of its employees.</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To maintain a financially strong business earning a reasonable profit, which is the only way we can provide security for our personnel, continue quality service for our customers.</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>To be an organization that has a passion for excellence in every activity we conduct.</h6></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <iframe class="height:100%; width:150px" src="https://giphy.com/embed/GJ7ZFaZgwDvGs31vRC" width="400" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/HHLA-container-hafen-hhla-GJ7ZFaZgwDvGs31vRC"></a></p></div>
                <div class="col-lg-7 py-6 py-lg-0">
                    <h6 class="text-primary text-uppercase font-weight-bold pt-4">Quality</h6>
                    <p>Our operational excellence provides the foundation for the integrated logistics solutions that we offer to our customers. The team of skilled professionals constantly monitors operational performance by maintaining a PDCA (Plan / Do / Check / Action) cycle for continuous improvements. We focus on the development of highly advanced logistics technology and the global training of personnel. By providing in-depth analyses of the transportation environment and of various other technical services, our mission is to add critical value to our logistics solutions and your products is our priority.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-secondary my-5">
        <div class="container">
            <div class="row align-items-center">
                    <h6 class="text-primary text-uppercase font-weight-bold pt-4">Achievement</h6>
                    <p>
We have consistently demonstrated a collaborative approach of working with customers to offer best logistic solutions tailored to meet their individual needs. Our working methodology has enabled us to create a benchmark in the industry. Some of our notable achievements are listed below:
Developed Flexible Multi-Modal Capacity to combine Full Container Load (FCL) / Less than Container Load (LCL) Deep Sea Services with its Air Cargo and Land Network across the globe.
 Warehousing and distribution programs along with a range of Track and Trace systems for importing as well as exporting.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="{% static 'img/delhi.jpg' %}" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h6 class="text-primary text-uppercase font-weight-bold">Infrastructure</h6>
                    <p>Our head Office at New Delhi and associate offices across the India are well equipped with modern gadgets to handle the total logistics solution and cargo transportation needs of our customers. The latest code tracking facilities enable us to provide exact status of the consignment on the move. Moreover, our experienced team can quickly assess a critical situation, identify transportation alternatives and implement a delivery solution that meets your time and cost requirements.

Following strict safety standards & superior quality control, we also take pride in our professionalism and speedy execution of assignments. Further, our dynamic style of working helps us to extend our reach to every corner of the globe.
</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Features End -->


{% include "home/footer.html" %}
