{% load static %}

{% include "home/header.html" %}


    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-primary mb-4">Safe & Faster</h1>
            <h1 class="text-white display-3 mb-5">Logistics Services</h1>
        </div>
    </div>
    <!-- About Start -->
            <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}" alt="">

                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
                    <h1 class="mb-4">Timeliness, Flexibility, Swiftness, Safety and Reliability</h1>
                    <p class="mb-4">Karhariya shipping is amongst the renowned logistics service providers head office at New Delhi, India.  Karhariya shipping Always delivering cost-effective solutions Karhariya shipping is a brand which provides all logistics solution and delivers all logistics needs from shipping to Door to Door service.</p>
                </div>
            </div>
        </div>
<div class="container pt-4">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src="{% static 'img/pic1.jpg' %}" alt="">

                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">Services Offered</h6>
                    <p class="mb-4">As a leading logistic service provider, we hold expertise in offering transportation and Freight Forwarding (Consol/De-Consol Service) of any kind of cargo across the India. Our well established global network as well as services of professionals provide us a strong & secure base for all the logistical needs our clients. All our consignments are covered by insurance therefore assuring complete safety of goods without any liability.</p>
                </div>
            </div>
        </div>


    <!-- Services Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h1 class="text-uppercase font-weight-bold">Associates And OverSeas</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Taiwan</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Vietnam</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">China</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Singapore</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Hong Kong</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Indonesia</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">South Korea</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Italy</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Germany</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">France</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Thailand</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">USA</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Features Start -->
       <div class="container-fluid bg-secondary my-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="{% static 'img/feature.jpg' %}" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h6 class="text-primary text-uppercase font-weight-bold">WHY KARHARIYA SHIPPING</h6>
                    <p class="mb-4">Karhariya shipping  provides “one-point-solution” to meet all of your logistics requirements. Whether you are looking to freight forwarding, relocation and project logistics management services in challenging markets Shipping has the level of service, expertise and experience to make it happen. You will get personalized service at every level with Karhariya shipping because we are truly independent, make our own decisions and specialize in our home market.</p>
                    <ul class="list-inline">
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Capability to handle export and import of full loads or consolidations, DDU, DDP, CIF, & FOB, EXWORKS, FCA</h6>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Nationwide branch coverage throughout India with purpose built, customs controlled freight terminals</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Flexible multi-modal capability combining FCL/LCL /Break Bulk deep sea services with Air Cargo and overland network</h6></li>
                        <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Warehousing/distribution programs as well as track and trace systems for meeting the import as well as export related needs.</h6></li>
                    </ul>
                    <a href="{% url 'about' %}" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


{% include "home/footer.html" %}

{% load sweetify %}
{% sweetify %}