{% load static %}

{% include "home/header.html" %}

    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">Service</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Service</p>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Services Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
                <h1 class="mb-4">Best Logistic Services</h1>
            </div>
            <p>
                As a leading logistic service provider, we hold expertise in offering transportation and Freight Forwarding (Consol/De-Consol Service) of any kind of cargo across the India. Our well established global network as well as services of professionals provide us a strong & secure base for all the logistical needs our clients. All our consignments are covered by insurance therefore assuring complete safety of goods without any liability.
            </p>
            <img src="{% static 'img/shipp1.png' %}">

            <h6 class="text-primary text-uppercase font-weight-bold">Domestic, Freight Forwarding</h6>

            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Value Added Sevices</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Door to Door</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Console/De-Console</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Nvocc Operations</h6>
                    </div>

                    </a>
                </div>
            </div>


            <h6 class="text-primary text-uppercase font-weight-bold">International, Freight Forwarding</h6>

            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Customs Clearance</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Air Freight</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Sea Freight</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Bulk Cargo</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Rail Transport</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Insurance</h6>
                    </div>

                    </a>
                </div>
            </div>
            <h6 class="text-primary text-uppercase font-weight-bold">Special Cargo Services</h6>

            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Port To Door</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}">

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Warehousing</h6>
                    </div>

                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}"}>

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Road Tranport</h6>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}"}>

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">3rd Country</h6>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <a href="{% url 'quotation' %}"}>

                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <h6 class="text-white font-weight-medium m-0">Switch BL</h6>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

<div class="container-fluid pt-5 bg-secondary">
        <div class="container">
            <div class="text-center pb-2">
                <h1 class="text-uppercase font-weight-bold">Associates And OverSeas</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Taiwan</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Vietnam</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">China</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Singapore</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Hong Kong</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Indonesia</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">South Korea</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Italy</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Germany</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">France</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">Thailand</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<!--                        <i class="fa fa-globe pr-3"></i>-->
                        <h6 class="text-white font-weight-medium m-0">USA</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="img-fluid w-100" src="{% static 'img/map.png' %}" alt="Map of overseas">

{% include "home/footer.html" %}
